*~
*.elc
auto-save-list
recentf
savehist
saveplace
eshell
elpa
el-get
semanticdb
url
ede-projects.el
.DS_Store
custom.el
places
.smex-items
savefile/
session*
.cask
tramp
/var/pcache
.emacs.desktop
.emacs.desktop.lock
network-security.data
prelude-cheatsheet.el
prelude-cheatsheet.aux
prelude-cheatsheet.log
/org2blog/
/smex-items
/anaconda-mode
/org-gcal/.org-gcal-token
/.lsp-session-v1
/transient/
/prelude
/forge-database.sqlite
/personal/.markdown-preview.html
projectile-bookmarks.eld
